{% load staticfiles %}
<!-- Begin Page Content -->
    <div class="container-fluid">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">历史报告</h1>
        </div>
        <div>



        </div>
        <div>
        <table class="table1">
			<tr>
				<th><div class="row" style="float:left">
            <div class="col-xl-9 col-md-6 mb-4">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                                <a href="{% url 'report1' %}">
                                    <h5>
                                        <span class="content-data">「模板1」</span>
                                        <span class="data-title">
                                            医药健康产业20xxX月月报
                                        </span>
                                    </h5>

                                    <div class="from form-inline">
                                        <img src="{% static 'img/report-1.jpg'%}" style='width:100%'>
                                    </div>
                                </a>
                            </div>
                        </div>
            </div>
        </div></th>
				<th><div class="row" style="float:left">
            <div class="col-xl-9 col-md-6 mb-4">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                                <a href="{% url 'newReport' %}">
                                    <h5>
                                        <span class="content-data">「模板2」</span>
                                        <span class="data-title">
                                            20xx年第X季度国内经济运行情况
                                        </span>
                                    </h5>

                                    <div class="from form-inline">
                                        <img src="{% static 'img/report-2.jpg'%}" style='width:100%'>
                                    </div>
                                </a>
                            </div>
                        </div>
            </div>
        </div></th>
				<th><div class="row" style="float:left">
            <div class="col-xl-9 col-md-6 mb-4">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                                <a href="{% url 'report3' %}">
                                    <h5>
                                        <span class="content-data">「模板3」</span>
                                        <span class="data-title">
                                            智能制造月度监测报告
                                        </span>
                                    </h5>

                                    <div class="from form-inline">
                                        <img src="{% static 'img/report-3.jpg'%}" style='width:100%'>
                                    </div>
                                </a>
                            </div>
                        </div>
            </div>
        </div></th>
                <th><div class="row" style="float:left">
            <div class="col-xl-9 col-md-6 mb-4">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                                <a href="{% url 'report4' %}?id=1&type=4">
                                    <h5>
                                        <span class="content-data">「模板4」</span>
                                        <span class="data-title">
                                            20XX年A股半导体公司年报概览
                                        </span>
                                    </h5>

                                    <div class="from form-inline">
                                        <img src="{% static 'img/report-4.jpg'%}" style='width:100%'>
                                    </div>
                                </a>
                            </div>
                        </div>
            </div>
        </div></th>
			</tr>
			<tr>
                <th><div class="row" style="float:left">
            <div class="col-xl-9 col-md-6 mb-4">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                                <a href="{% url 'report4' %}?id=1&type=7">
                                    <h5>
                                        <span class="content-data">「模板7」</span>
                                        <span class="data-title">
                                            20XX年国内经济运行情况
                                        </span>
                                    </h5>

                                    <div class="from form-inline">
                                        <img src="{% static 'img/report-7.jpg'%}" style='width:100%'>
                                    </div>
                                </a>
                            </div>
                        </div>
            </div>
        </div></th>
                <th><div class="row" style="float:left">
            <div class="col-xl-9 col-md-6 mb-4">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                                <a href="{% url 'report4' %}?id=1&type=8">
                                    <h5>
                                        <span class="content-data">「模板8」</span>
                                        <span class="data-title">
                                            中国5G产业链专利技术分布检测报告
                                        </span>
                                    </h5>

                                    <div class="from form-inline">
                                        <img src="{% static 'img/report-8.jpg'%}" style='width:100%'>
                                    </div>
                                </a>
                            </div>
                        </div>
            </div>
        </div></th>
                <th><div class="row" style="float:left">
            <div class="col-xl-9 col-md-6 mb-4">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                                <a href="{% url 'report4' %}?id=1&type=5">
                                    <h5>
                                        <span class="content-data">「模板5」</span>
                                        <span class="data-title">
                                            20xx年人工智能招商月报
                                        </span>
                                    </h5>

                                    <div class="from form-inline">
                                        <img src="{% static 'img/report-5.jpg'%}" style='width:100%'>
                                    </div>
                                </a>
                            </div>
                        </div>
            </div>
        </div></th>
                <th><div class="row" style="float:left">
            <div class="col-xl-9 col-md-6 mb-4">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                                <a href="{% url 'report4' %}?id=1&type=6">
                                    <h5>
                                        <span class="content-data">「模板6」</span>
                                        <span class="data-title">
                                            20XX年区域宏观经济运行检测
                                        </span>
                                    </h5>

                                    <div class="from form-inline">
                                        <img src="{% static 'img/report-6.jpg'%}" style='width:100%'>
                                    </div>
                                </a>
                            </div>
                        </div>
            </div>
        </div></th>
			</tr>
            <tr>

                <th><div class="row" style="float:left">
            <div class="col-xl-9 col-md-6 mb-4">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                                <a href="{% url 'report4' %}?id=1&type=9">
                                    <h5>
                                        <span class="content-data">「模板9」</span>
                                        <span class="data-title">
                                            20XX年中国VC/PE市场区域数据报告
                                        </span>
                                    </h5>

                                    <div class="from form-inline">
                                        <img src="{% static 'img/report-9.jpg'%}" style='width:100%'>
                                    </div>
                                </a>
                            </div>
                        </div>
            </div>
        </div></th>
                <th><div class="row" style="float:left">
            <div class="col-xl-9 col-md-6 mb-4">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                                <a href="{% url 'report4' %}?id=1&type=10">
                                    <h5>
                                        <span class="content-data">「模板10」</span>
                                        <span class="data-title">
                                            政府及公共服务行业ICT投入洞察
                                        </span>
                                    </h5>

                                    <div class="from form-inline">
                                        <img src="{% static 'img/report-10.jpg'%}" style='width:100%'>
                                    </div>
                                </a>
                            </div>
                        </div>
            </div>
        </div></th>
			</tr>

		</table>



        <!-- /.container-fluid -->

        </div>
    </div>