{% load staticfiles %}
<!-- 右侧内容Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!--加载Topbar-->
            {% include "./Topbar.html" %}

            <!-- 加载具体内容 -->
            {% if contentType == "createReport" %}
                {% include "./MainContent/createReport.html" %}
            {% elif contentType == "welcome"%}
                {% include "./MainContent/welcome.html" %}
            {% elif contentType == "historyReport" %}
                {% include "./MainContent/historyReport.html" %}
            {% elif contentType == "dataPage" %}
                {% include "./MainContent/dataPage.html" %}
            {% else %}
            {% include "./MainContent/welcome.html" %}
            {% endif %}


        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; 赛迪顾问版权所有 2019</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->